<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Agile cards</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container">
    <div class="header"><h2 class="text-muted">Agile cards</h2></div>

    {% block content %}{% endblock %}

    <div class="footer text-muted text-right">
        <small>
            with <span class="glyphicon glyphicon-heart text-danger"></span> from
            <a href="http://lt.wikipedia.org/wiki/Kupi%C5%A1kis">kupishkis</a>
        </small>
    </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
