#cards {
    width: 900px;
    font-family: 'HelveticaNeue-Light', sans-serif;
}

.card {
    width: 428px;
    height: 140px;
    padding: 20px 10px 10px 10px;
    border: 1px solid #000000;
    page-break-inside: avoid;
    float: left;
    overflow: hidden;
    margin-left: -1px;
    margin-top: -1px;
}
.icon {
    float: left !important;
    width: 40px;
    font-size: 40px;
    margin-right: 5px;
}
.title {
    float: left;
    width: 383px;
}
h2 {
    display: block;
    margin: 9px 0;
    font-weight: normal;
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
h3 {
    margin: 0;
    font-size: 15px;
}

.assignee {
    margin: 0;
    font-size: smaller;
}

.estimate {
    float: right;
    font-weight: 700;
}

.summary {
    padding: 10px 0 0 43px;
    min-height: 70px;
    overflow: hidden;
}


.priority {
    padding: 3px 0;
}
.darken {
    background: #eeeeee;
}
