{% extends "layout/app.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>Print your cards</h1>
        <p class="lead">Upload your JIRA results file and print it!</p>
        <form action="{{ path('upload') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <hr/>

            <div class="text-right">
                <button class="btn btn-lg btn-success" type="submit">
                    <span class="glyphicon glyphicon-ok"></span> Print
                </button>
            </div>
        </form>
    </div>
{% endblock %}


